.popup-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    .modal-dialog {
      margin: 0;
    }

    .groups-container {
      display: flex;
      margin-top: 1rem;

      .checkbox{
         display: flex;
         align-items: center;
      }
    }

    h5{
      margin-top: inherit;
    }
  }